/*
    Yunus Kokmaz
*/


.myimage
{
    margin-top: 35px;
}
.myimage img
{
    border: 2px solid #555;
}

.name {font-size: 45px}
.info{font-size: 25px;margin-bottom: 30px}



.sosyal
{
    display: flex;
    justify-content: center;
    margin: 0px auto;
}
.sosyal li
{
    float: left;
    margin: 10px 4px 10px 4px;
}
.sosyal li a
{
    height: 46px;
    width: 46px;
    line-height: 44px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
    color: #fff;
    font-size: 18px;
}
.sosyal li a:hover
{
    color: #009688;
    background-color: #fff;
}

.trans
{
    background: url("../images/trans.png") repeat;
}





@media only screen and (min-width: 480px) {
    .brand-logo{font-size: 23px;}

}
@media only screen and (max-width: 400px) {
    .sosyal li a{
        height: 37px;
        width: 37px;
        line-height: 35px;
    }
    nav .brand-logo
    {
        font-size: 20px;
    }

}




.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:rgba(256,256,256,.3);
    height:25px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    line-height: 25px;
    vertical-align: middle;
    top:0;
    left:0;
    padding: 0 4px;

    font-size:13px;
    color:#ffffff;


}



.skillbar-bar {
    height:25px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:25px;
    line-height:25px;
    vertical-align: middle;
    color:#ffffff;
    font-weight: bold;
}

.skill-mobile{
    position: relative;
    width: 100%;
    height: 25px;
    background-color: rgba(256,256,256,.3);
    z-index: 1000;
}
.skill-show{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 25px;

}
.skill-name
{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0 4px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
    z-index: 60;

}
.skill-percent
{
    position: absolute;
    padding: 0 4px;
    top: 0px;
    right: 0px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
    z-index: 61;

}
.fixoff nav , .fixoff .nav-wrapper
{
    height: 50px;
    line-height: 50px;

}
.fixoff #logo
{
   /* font-size: 1.5rem; */
}
@media only screen and (max-width: 750px) {

    .fixoff nav , .fixoff .nav-wrapper
    {
        height: 55px;
        line-height: 55px;
    }

     nav a.button-collapse, nav a.button-collapse i
    {
        max-height: 55px;
        height: 55px;
        line-height: 55px;
    }
    #header{
        margin-top: -60px;

    }


}




@media only screen and (min-width: 600px) {

    #header .container{padding-top: 70px; padding-bottom: 30px}
    #header .parallax-container{}

    .myimage
    {

        margin-top: 90px;
        margin-bottom: 50px;

    }
    .myinfo
    {
        margin-top: 50px;
    }



}

.portfolio-item {

display: none;

}

.portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width:100%;
    margin:1%;
    float:left;
    overflow:hidden;
}
.portfolio-wrapper {
    overflow:hidden;
    position: relative !important;

    cursor:pointer;
}
.portfolio img {
   width:100%;
    position: relative;
}


  .portfolio .label {
      position: absolute;
      width: 100%;
      height:42px;
      padding-bottom: 2px;
      bottom:-42px;
  }
.portfolio .label-bg {
    background: #e64a19 ;
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}

.portfolio .label-text {
    color:#fff;
    position: relative;
    z-index:500;
    padding:3px 8px 5px 8px;
}
.text-title
{
 color: #fff;
}
.portfolio .text-category {
    display:block;
    font-size:9px;
}
#filters {
    margin:1%;
    padding:0;
    list-style:none;
    height: 32px;
    border-bottom: 2px solid  #e64a19 ;
    margin-bottom: 10px;
}
#filters li {
    float:left;
}

#filters li span {
    display: block;
    padding:5px 20px;
    text-decoration:none;
    font-size: 14px;
    cursor: pointer;
}

#filters li span.active {
    background: #e64a19 ;
    color:#fff;
}

@media only screen and (max-width: 480px) {
    .brand-logo{font-size: 20px;}
    .name{font-size: 38px;}
    .info{font-size: 18px;}
    .parallax-container{height: 570px}
    .sosyal li a{
        height: 41px;
        width: 41px;
        line-height: 39px;
    }

    #filters {

        height: auto;
        border-bottom:0px;
        margin-bottom: 10px;
    }
    #filters li {
        float:left;
        clear: both;

        width: 100%;
    }

    #filters li span {

        display: block;
        padding:5px 20px;
        text-decoration:none;
        font-size: 14px;
        cursor: pointer;
        width: 100%;
    }
    #header .container{padding-top: 55px;}


}

#sosyal
{
    padding-top: 100px;
    height: 270px;
}

.bosluk
{
    margin-top: 30px;

}
#blog{
    padding-bottom: 30px;
}
.post{
    padding-bottom: 10px;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 5px;

}
.post .title a{
font-size: 35px;
    color: #202020;
    
}
.post .title a:hover{
    color: #009688;
}

.post .date-time{
    color: #7b7b7b;
    font-size: 18px;
}
#blog .row{
    margin-bottom: 0px;
}

#iletisim{
    background-image: url("../images/contact-wallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

#iletisim .row,.header > .row{
    background-color: rgba(0,0,0,.8);
    margin-bottom: 0;
    padding-bottom: 20px;
}
#header{
    background-image: url("../images/bg3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    margin-top: -64px;
}
.blog-post{
    margin: 25px 0;
}
.blog-post > p{
    color: #000;
    font-size: 18px;
    margin-bottom: 40px;
}